$font-stack: Arial;
$font-color: #000;
$back: #46265C;
$font-tam:13px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body{
  background: $back;
  font-family: $font-stack;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  h1{
    color:#fff;
  }
  label{
    color: $font-color;
    width: 100%;
  }
  h2{
    color: $font-color;
  }
}

#app{
}

form{

  width: 500px;
  height: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  > div {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }

  input{
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: $font-tam;
    width: 100%;
  }

  padding: 30px;

  input[type="submit"]{
    padding: 15px;
    border: none;
    color: #fff;
    background: #63B75D;
    font-weight: bold;
    border-radius: 3px;
  }
  input[type="submit"]:hover{
    background: #217756;
    cursor: pointer;
  }


}
